/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    background: #282b33; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  #configMenuSidebar{
    left:0;
  }

  #stateContainerMenuSidebar{
    right:0;
  }

  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main-content {
    transition: margin .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  #configMenuBtn{
  font-size: 20px;
  cursor: pointer;
  background-color: #282b33;
  color: white;
  padding: 10px;
  border: none;
  position: fixed;
  z-index: 99;
  top: 40%;
  left:0;
  height: 150px;
  transition: margin-left .5s;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  }
  
  #configMenuBtn:hover {
    background-color: #3f4350;
  }

  #stateContainerMenuBtn{
    font-size: 20px;
    cursor: pointer;
    background-color: #282b33;
    color: white;
    padding: 10px;
    border: none;
    position: fixed;
    z-index: 99;
    top: 40%;
    right:0;
    height: 150px;
    transition: margin-right .5s;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    }

    #stateContainerMenuBtn:hover {
      background-color: #3f4350;
    }

    .sidebar span::selection {
      background: #6a67d4;
    }

    .sidebar pre::selection {
      background: #6a67d4;
    }